<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Who are We?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are BrainwaveS Neurorehab Solutions. We aim to develop and provide complete Neuropsychological Rehabilitation solutions using cutting edge technology to address the cognitive, behavioural and motor deficits that result from injury to the brain.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">What We do?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We develop affordable solutions catering to patients suffering from post-stroke symptoms like paralysis and muscle movement. Our solutions aim to facilitate such patients throughout their rehabilitation process, making it as fun, easy and engaging as possible.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">How we do It?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are using cutting edge technology like Virtual Reality and Brain-Computer Interfaces to address the cognitive, behavioural and motor deficits that result from injury to the brain. Our suite includes a range of products from fully immersive VR games customized for rehabilitation to motion-capture hardware modules.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Are We Commercial?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are not commercial yet, still in the design and development stage. We are backed by major organisations and experts from this field who are helping us make this product the finest of its kind.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>