<!-- timeline Section -->
<section id="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Journey</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Sep 13, 2019</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In SIIC BMOE Bootcamp our first BrainwaveS team formed</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Feb 15, 2020</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">“BrainwaveS” was approved funding at NewGen IEDC SRM Sponsored by DST INDIA.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Apr 13, 2021</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Short-listed for Hospital Accelerated Pre-Incubation Program- HAPI at HTIC</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Aug 10, 2021</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Selected for co-incubation in HTIC-IITM and SIIC</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/5.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Sep 11, 2021</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Signed an MoU with SIIC</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/6.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Dec 9, 2021</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Signed an MOU with IITMIC</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/7.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Sep 21, 2021</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Brainwaves Neurorehab Solutions Pvt Ltd was incorporated</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/8.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Jan 21, 2022</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Recruited our first employee</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/timeline/9.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Feb 4, 2022</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Selected for NIDHI PRAYAS program</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>